.tab-bar {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  width: 100%;
  
  position: fixed;

  left: 0;
  bottom: 0;
  
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;

  background: #434853;
}

.tab-bar button {
  width: 40px;
  height:40px;
  
  margin: 8px;
  
  border: none;
  
  background-color: rgba(255, 255, 255, 0.5);
  
  border-radius: 100%;
  
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;

  -webkit-tap-highlight-color: transparent;
}

.tab-bar button:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

.tab-bar button:focus {
  background-color: rgba(255, 255, 255, 0.7);
  outline: 0;
}

.tab-bar button:active {
  background-color: rgba(255, 255, 255, 0.9);
}

.tab-bar button.selected {
  background-color: rgba(255, 255, 255, 1.0);
}

.tab-bar input {
  width: 200px;
  height:40px;
  
  margin: 8px;
  
  border: none;
}
