.logo {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  width: 50%;
  
  left: 0;
  bottom: 0;
  
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;

  
  content:url("logot.png");
}